<mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{ ui.currentUser.fname }}</mat-card-title>
      <mat-card-subtitle>{{ ui.currentUser.lname }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <mat-card-subtitle type="string">
        Email:
        {{ ui.currentUser.email }}
      </mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions align="end">
      <button (click)="this.ui.getAccountByEmailandPassword(ui.currentUser.email, ui.currentUser.password)"
        mat-button>Edit</button>
      <div>
        <button (click)="this.ui.deleteProfileById(ui.currentUser.id, ui.currentUser.email, ui.currentUser.password)"
          mat-button>Delete</button>
      </div>
      <div>
        <button (click)="ui.showToolbar()" mat-button>Close</button>
      </div>
    </mat-card-actions>
  </mat-card>
  <div *ngIf="this.ui.displayEdit">
    <app-edit-account></app-edit-account>
  </div>
  