<form class="mat-elevation-z8">
    <mat-toolbar color="primary">Register</mat-toolbar>
  
    <div class="form-fields">
      <mat-form-field appearance="fill">
        <mat-label>Item Name</mat-label>
        <input matInput [(ngModel)]="newItem.name" name="name" />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Image link</mat-label>
        <input matInput [(ngModel)]="newItem.itemImage" name="itemImage" />
      </mat-form-field>
      <br />
    </div>
    <br />
    <div class="buttons">
    <button
      mat-raised-button
      type="submit"
      color="accent"
      style="margin-top: 10px"
      (click)="ui.addItem(this.newItem)"
    >newItem
      Add Item
    </button>
    <br />
    <button
      mat-raised-button
      type="submit"
      color="accent"
      style="margin-top: 10px"
      (click)="onCancel()"
    >
      Cancel
    </button>
  </div>
  </form>