<div class="columns" style="margin-left: 10%; margin-right: 10%; margin-top: 8%;">
<mat-card class="example-card" (click)="this.ui.showRecipes()" style="cursor: pointer;">
    <mat-card-header>
      <mat-card-title>Recipes</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2sIDn5EqdvsQuj7lvtYYgNDzkiYHYpxfz92OdjURZYXodgRi-PP-x7UXgOvaK9wFBZ8g&usqp=CAU" alt="Recipe Book">


</mat-card>

<mat-card class="example-card" (click)="this.ui.showPantry()" style="cursor: pointer;">
  <div>
    <mat-card-header>
      <mat-card-title style="display: flex;">Pantry</mat-card-title>
    </mat-card-header>
    </div>
    <img mat-card-image src="https://thumbs.dreamstime.com/b/vectorized-pantry-22468063.jpg" alt="Pantry">
    

</mat-card>

<mat-card class="example-card" (click)="this.ui.showShoppingList()" style="cursor: pointer;">
    <mat-card-header>
      <mat-card-title>Shopping List</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://media.istockphoto.com/id/1263665009/vector/shopping-list-page-template-with-lines-for-writing-a-shopping-list-vector-illustration.jpg?s=612x612&w=0&k=20&c=BZuF6VVmMOkP3o-JYO8d6P5i37DrDU5fcCw5hg7LDlk=" alt="Shopping List">

</mat-card>

</div>