<form class="mat-elevation-z8">
    <mat-toolbar color="primary">Add an Item to Your Shooping List</mat-toolbar>

    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Items
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field style="margin-top: 10px;">
            <mat-label>Search Ingredients</mat-label>
            <input matInput type="text" (keyup)="applyFilter($event)" placeholder="search" #search>
        </mat-form-field>
          <div *ngFor="let each of this.filterableItemsSet">
          <img src="{{ each.itemImage }}" width="100px" height="100px" />
          {{ each.name }}

          <span class="spacer"></span>

          <button mat-icon-button matTooltip="Add Item to shopping list" (click)="addItemToShoppingList(each)">
            <mat-icon class="green-icon">queue</mat-icon>
          </button>

        </div>
        </mat-expansion-panel>
      </mat-accordion>

  <h2> Or Create a New Item</h2>
    <div class="form-fields">
      <mat-form-field appearance="fill">
        <mat-label>Item Name</mat-label>
        <input matInput [(ngModel)]="newItem.name" name="name" required/>
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Image link</mat-label>
        <input matInput [(ngModel)]="newItem.itemImage" name="itemImage" />
      </mat-form-field>
      <br />
    </div>
    <br />
    <div class="buttons">
    <button
      mat-raised-button
      type="submit"
      color="accent"
      style="margin-top: 10px"
      (click)="ui.addItem(this.newItem); addItemToShoppingList(this.newItem)"
    >
      Create Item
    </button>
    <br />
    <button
      mat-raised-button
      type="submit"
      color="accent"
      style="margin-top: 10px"
      (click)="onCancel()"
    >
      Cancel
    </button>
  </div>
  </form>