<div *ngFor="let each of this.ui.recipes">
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
            <img src={{each.recipeImage}} width="100px" height="100px">
            {{each.name}} 
            <span class="spacer"></span>
            <button mat-icon-button matTooltip="Add ingredients to shopping list"><mat-icon>add_shopping_cart</mat-icon></button>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul> <li *ngFor="let item of each.items">{{item.name}} (xnumber)</li> </ul>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<button mat-raised-button color="accent" (click)="openDialog('0ms', '0ms'); ui.getItems();">Add New Recipe</button>