    <mat-toolbar color="primary">New Recipe</mat-toolbar>
  
    <div class="form-fields">
      <mat-form-field appearance="fill">
        <mat-label>Recipe Name</mat-label>
        <input matInput [(ngModel)]="newRecipe.name" name="name" />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Image link</mat-label>
        <input matInput [(ngModel)]="newRecipe.recipeImage" name="recipeImage" />
      </mat-form-field>
      <br />

      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Items
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let each of this.ui.items">
          <img src="{{ each.itemImage }}" width="100px" height="100px" />
          {{ each.name }}

          <span class="spacer"></span>

          <button mat-icon-button matTooltip="Adjust Quantity for recipe" color="warn">
            <mat-icon>remove_circle_outline</mat-icon>
          </button>
        
          {{this.quantity}}

          <button mat-icon-button matTooltip="Adjust Quantity for recipe">
            <mat-icon class="green-icon">add_circle_outline</mat-icon>
          </button>

          <button mat-icon-button matTooltip="Add Item to Recipe">
            <mat-icon class="green-icon">queue</mat-icon>
          </button>

        </div>
        </mat-expansion-panel>
      </mat-accordion>

    </div>

    <br />
    <div class="buttons">
    <button
      mat-raised-button
      type="submit"
      color="accent"
      style="margin-top: 10px"
      (click)="ui.addRecipe(this.newRecipe)"
    >
      Add Recipe
    </button>
    <br />
    <button
      mat-raised-button
      type="submit"
      color="accent"
      style="margin-top: 10px"
      (click)="onCancel()"
    >
      Cancel
    </button>
  </div>
  