<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="drawer.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Grocery App</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    (click)="ui.showProfile()"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    (click)="ui.logoutUser()"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container hasBackdrop="true" autosize>
  <mat-drawer #drawer mode="side">
      <mat-toolbar color="accent">
      </mat-toolbar>
      <!-- NAVIGATION -->
          <button mat-button (click)="ui.getRecipes(); ui.showRecipes()" style="margin-top: 15px;"><h2>Recipes</h2></button>
          <br>
          <button mat-button (click)="ui.getPantry(); ui.showPantry()" style="margin-top: 15px;"><h2>Pantry</h2></button>
          <br>
          <button mat-button (click)="ui.getShoppingList(); ui.showShoppingList();" style="margin-top: 15px;"><h2>Shopping List</h2></button>
          <br>
  </mat-drawer>
</mat-drawer-container>